<%- layout("/Layouts/boilerplate.ejs") %>
<div class="row">
    <form action="/listings" method="POST" novalidate class="needs-validation">
        <div class="col-8 offset-2 mt-3">
        <div>
        <label for="title" class="form-label">Enter title</label>
        <input name="listing[title]" type="text" placeholder="enter title" class="form-control" required>
    <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>  
    </div>
        <br>
        <br>
        <div>
            <label for="description" class="form-label "> Enter description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
        <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>      
    </div>
        
        
 
        <br>
        <br>
        <div > 
            <label for="listing[image][url]" class="form-label">Enter Image Url </label>
            <input name="listing[image][url]" type="text" placeholder="upload image url" class="form-control">
            <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>  
        </div>
        <br><br>
        <div>
            <label for="price" class="form-label">Enter price</label>
            <input name ="listing[price]" type="number" placeholder="Enter price" class="form-control" required>
              <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>  
        </div>
        
        <br>
        <br>
        <div>
            <label for="location" class="form-label">Enter location</label>
             <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                      <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>  
            </div>
       
        <br>
        <br>
        <div>
            <label for="country" class="form-label">Enter country</label>  
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
              <div class="valid-feedback">Looks Good!</div>    
     <div class="invalid-feedback">Please Enter The Field</div>  </div>
    <br><br>
    
        <button class="btn btn-dark">click me</button>
        </div>
    </form>
    <br><br>
    </div>

