body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.fa-compass{
    color: #fe424d;
    font-size: 2 rem;
}

.nav-link{
    color: #222222 !important;

}
.f-info-links a {
text-decoration: none;
color: #222222;
}

.f-info-links a:hover{
text-decoration: underline !important;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info > * {
    margin: 0.5rem 0;
}

.f-info{
    display:flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding: 2rem 0;
    justify-content: center;
    align-items:center;
    text-align: center;
}

footer {
    margin-top: auto;
  



}


.card{
    border: none !important;
    margin-bottom: 2rem !important;
  
 


}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 20rem;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;


}
.card-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    
    font-weight: 400 !important;
}


.card-img-overlay{
opacity: 0;

}

.card-img-overlay:hover{
opacity: 0.2;
background-color: white;

}

/* show page*/


.show-img{
    height: 30vh;
}

.review-card{
    border:0.1rem solid black !important;
}

#map {
    height: 300px;
    width: 100%;
}

.tax-info{
    display: none;
}
.tax-switch{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    
}
#filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.filter-item{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter-item:hover{
    opacity: 1;
    cursor: pointer;
}
.filter-item p{
    font-size: 0.8rem;
}
.tax-info{
    display: none;
}
.tax-switch{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    
}



